*{
    box-sizing: border-box;
}

   
#box1{
    background-color: rgb(0, 166, 255);
    width: 100px;
    height: 100px;
   position: fixed;
   left: 50vw;
   bottom: 50vh;
}
@keyframes slideleft{
    from{transform: translateX(100px);}
}
@keyframes slideRight{
    50%{opacity:1;}
}